<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>Dulces Brayzzo</title>
</head>

<body>
    <div data-role="page" data-theme="b">
        <div data-role="header">
            <h1>Abarrotes Brayzzo</h1>
        </div>
        <div data-role="content">

            <div class="ui-grid-b center" style="text-align: center;">
                <div class="ui-block-a"><a href="/" class="ui-shadow ui-btn ui-corner-all ui-icon-home ui-btn-icon-notext ui-btn-inline">Button</a></div>
                <div class="ui-block-b"><a class="ui-shadow ui-btn ui-corner-all ui-icon-plus ui-btn-icon-notext ui-btn-inline">Button</a></div>
                </div>
            </div>

            <div data-role="content">
                <form action="/insert" method="post">
                    <div class="ui-field-contain">
                    <label for="textinput-fc">Codigo:</label>
                    <input type="text" name="barcode" placeholder="Codigo de barras">
                    </div>

                    <div class="ui-field-contain">
                        <label for="textinput-fc">Descripcion:</label>
                        <input type="text" name="description" placeholder="Descripcion">
                        </div>

                        <div class="ui-field-contain">
                            <label for="textinput-fc">Marca:</label>
                            <input type="text" name="brand" placeholder="Marca">
                        </div>
                    
                        <div class="ui-field-contain">
                            <label for="textinput-fc">Precio compra:</label>
                            <input type="number" name="price" placeholder="Precio de compra">
                        </div>
                    
                        <div class="ui-field-contain">
                            <label for="textinput-fc">Pecio de venta:</label>
                            <input type="number" name="cost" placeholder="Precio de venta">
                        </div>

                        <div class="ui-field-contain">
                            <label for="textinput-fc">Existencias:</label>
                            <input type="number" name="stock" placeholder="Existencias">
                        </div>

                        <div class="ui-field-contain">
                            <label for="textinput-fc">Fecha de popo:</label>
                            <input type="date" name="expiredDate" placeholder="Caducidad">
                        </div>
                        <select name="status" data-role="slider" data-mini="true">
                             <option value="0">No</option>
                             <option value="1">Si</option>
                        </select>
                        <button type="submit" id="submit-8" class="ui-shadow ui-btn ui-corner-all ui-mini">Guardar Dulce</button>

                </form>
                
            </div>
        <div data-role="footer">
            <h5>Developed by BraytoGBDX</h5>
        </div>
    </div>
</body>

</html>
